.schedule-box {
  &__details {
    transition: 0.3s;
  }

  &__summary {
    list-style: none;
    cursor: pointer;
  }

  &__icon-container {
    display: flex;
    column-gap: 4px;
    margin-top: 8px;

    > time, p {
      margin: 0;
      line-height: 1.2;
    }
  }

  &__detail {
    margin: 16px 16px 0;

    > h1, h2 {
      text-align: center;
    }
  }

  &__image-set {
    > img {
      margin: 16px 0 0;
    }

    > img:last-of-type {
      margin: 16px 0;
    }
  }
}
