@use "../../styles/scss/mixins";

$scheduleListWidth: 720px;

.schedule-list {
  max-width: $scheduleListWidth;
  margin: 0 auto;
  list-style: none;

  @include mixins.mq(sp) {
    padding: 0 24px;
  }

  &-item {
    margin-top: 16px;
    padding: 8px 16px;
    background-color: var(--reverse-base-color-background);
    color: var(--reverse-base-color-text);

    & + & {
      margin-top: 8px;
    }
  }
}
