.schedule-list {
  max-width: 760px;
  margin: 0 auto;
  list-style: none;

  &-item {
    margin-top: 16px;
    padding: 8px 16px;
    background-color: var(--reverse-base-color-background);
    color: var(--reverse-base-color-text);

    & + & {
      margin-top: 8px;
    }
  }
}
